{% extends "base.html" %}
{% load custom_tags %}
{% load tz %}
{% load static %}

{% block title %}Signup{% endblock title %}
{% block description %}Signup form{% endblock description %}

{% block content %}
    <div class="tw-bg-[#fff9f9] tw-text-black tw-fixed tw-top-0 tw-z-[5000] 
                tw-flex tw-place-content-center 
                tw-place-items-center tw-h-full tw-w-full"
         style="background: url('{% static 'images/stock-market.png' %}') center center fixed;">
        
        <form action="{% url 'signup' %}" 
              class="tw-w-[350px] tw-min-h-[350px] tw-bg-white
                     tw-rounded-xl tw-p-5 tw-text-center tw-flex tw-flex-col tw-gap-3 tw-shadow-xl
                     tw-place-content-center max-md:tw-w-full tw-place-items-center"
              id="signup-form"
              method="POST">   
            {% csrf_token %}
            
            <div class="tw-text-3xl tw-mb-[5%] tw-m-2">
                Signup
            </div>
         
            <div id="signup-alert" class="{% if not errors %} tw-hidden {% endif %} error-container" role="alert">
                {{ errors }}
            </div>
            
            <!-- Full Name -->
            <div class="tw-flex tw-w-full">
                <input type="text" class="input tw-w-full" 
                       placeholder="Full Name" name="name" maxlength="255" required>
            </div>

            <!-- Username (Email in this case) -->
            <div class="tw-flex tw-w-full">
                <input type="email" class="input tw-w-full" 
                       placeholder="Email" name="email" maxlength="200" required>
            </div>

            <!-- Phone Number -->
            <div class="tw-flex tw-w-full tw-items-center">
                <label for="phone_no" class="tw-mr-2 tw-text-gray-500">+91 </label>
                <input type="tel" id="phone_no" class="input tw-w-full" 
                       placeholder="Phone Number" name="phone_no" maxlength="15" 
                       pattern="[0-9]{10}" required aria-label="Phone number">
            </div>
            
            <!-- Password -->
            <div class="tw-flex tw-w-full input !tw-p-[2px]">
                <input type="password" class="tw-w-full tw-p-[8px] tw-border-none tw-outline-none" 
                       placeholder="Password" name="password1" maxlength="30" required>
            </div>
            
            <!-- Confirm Password -->
            <div class="tw-flex tw-w-full input !tw-p-[2px]">
                <input type="password" class="tw-w-full tw-p-[8px] tw-border-none tw-outline-none" 
                       placeholder="Confirm Password" name="password2" maxlength="30" required>
            </div>
            
            <button type="submit" id="signup-btn" class="btn !tw-w-[200px] 
                                                        tw-m-3 hover:tw-scale-[1.02]
                                                        tw-duration-[0.3s]">
                Signup
            </button>

            <div>
                Already have an account? <a href="{% url 'login' %}" class="tw-text-blue-500">Login</a>
            </div>
        </form>
    </div>
{% endblock content %}
