{% extends 'stocks/dashboard/base.html' %}

{% block title %}Custom Portfolio{% endblock %}

{% block content %}
<!-- Displaying Messages -->
{% if messages %}
    <div class="p-4" id="messagesContainer">
        {% for message in messages %}
            <div class="alert text-white text-left p-4 mb-4 rounded-lg 
                        {% if message.tags == 'success' %}bg-green-500
                        {% elif message.tags == 'error' %}bg-red-500
                        {% elif message.tags == 'info' %}bg-blue-500
                        {% elif message.tags == 'warning' %}bg-yellow-500
                        {% else %}bg-gray-500
                        {% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %} 

<!-- Search Bar Section -->
<div class="p-4 relative">
    <input 
        type="text" 
        id="searchBar" 
        class="w-full px-6 py-3 pl-10 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 transition-all"
        placeholder="Search by sector Symbol..." 
        onkeyup="searchsectors()" 
    />
    <i class="fas fa-search absolute left-7 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
</div>
<div class="text-gray-400">#Note: Default Ema is : {{ defaultEma }}</div>

<!-- Table Section -->
<div class="overflow-x-auto bg-white shadow-md rounded-lg">
    {% if sectors %}
    <div class="relative">
        <div class="overflow-x-auto">
            <table class="min-w-full table-auto" id="sectorsTable">
                <thead>
                    <tr class="bg-gray-800 text-white">
                        <!-- Freeze the first column -->
                        <th class="sticky left-0 bg-gray-800 py-3 px-4 text-left border-b z-10 cursor-pointer" onclick="sortTable(0)">
                            Symbol
                            <i class="fas fa-sort text-sm ml-2"></i>
                        </th>
                        {% for date in sectors.0.dates %}
                        <th class="py-3 px-4 text-left border-b cursor-pointer" onclick="sortTable({{ forloop.counter }})">
                            {{ date }}
                            <i class="fas fa-sort text-sm ml-2"></i>
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for sector in sectors %}
                    <tr class="hover:bg-gray-50 sector-row">
                        <td class="sticky left-0 bg-white py-2 px-4 border-b z-10">
                            <div class="flex items-center space-x-2">
                                <!-- Plus Button -->
                                <button class="text-green-500 hover:text-green-700 focus:outline-none" onclick="openModalSector('{{ sector.symbol }}', '{{ sector.id }}')">
                                    <i class="fas fa-plus-circle"></i>
                                </button>                                
                                <span class="hover:text-blue-500 text-gray-800"><a href="{% url "charts_sector" sector.id %}" title="{{ sector.name }}">{{ sector.symbol }}</a></span>
                            </div>
                        </td>
                        {% for value in sector.data %}
                        {% if value > 0 %}
                        <td class="py-2 px-4 border-b bg-green-400">
                            <span class="text-white">{{ value }}</span>
                        </td>
                        {% else %}
                        <td class="py-2 px-4 border-b bg-red-500">
                            <span class="text-white">{{ value }}</span>
                        </td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="p-4 text-center text-lg text-gray-700">
        No sector data available.
    </div>
    {% endif %}
</div>

<!-- Modal Structure -->
<div id="modal" class="fixed inset-0 bg-gray-600 bg-opacity-50 hidden flex justify-center items-center z-10">
    <div class="bg-white p-8 rounded-xl w-96 max-w-lg shadow-lg">
        <h2 class="text-2xl font-semibold text-center mb-6 text-gray-800">Add Sector to Watchlist</h2>

        <!-- Modal Content -->
        <p id="sectorSymbol" class="text-center text-lg mb-6 text-gray-600"></p>

        <!-- Watchlist Dropdown Form -->
        <form id="addSectorForm" action="{% url 'sector' %}" method="POST">
            {% csrf_token %}
            
            <div class="mb-6" {% if watchlists|length < 2 %}hidden{% endif %}>
                <label for="watchlistSelect" class="block text-md font-medium text-gray-700 mb-3">Change Watchlist</label>
                <select id="watchlistSelect" name="watchlist_name" class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none transition-all">
                    {% for watchlist in watchlists %}
                        <option value="{{ watchlist.id }}">{{ watchlist.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <input type="hidden" id="sectorId" name="sector_id" value="">
            <input type="hidden" name="add_to_watchlist" value="1">

            <div class="flex justify-between mt-4">
                <button type="button" class="bg-gray-400 text-white py-2 px-6 rounded-lg text-lg font-medium hover:bg-gray-500 transition duration-200" onclick="closeModalSector()">Cancel</button>
                <button type="submit" class="bg-blue-500 text-white py-2 px-6 rounded-lg text-lg font-medium hover:bg-blue-600 transition duration-200">Add</button>
            </div>
        </form>
    </div>
</div>

<script>
    let sortDirection = true; // true for ascending, false for descending

    function searchsectors() {
        const searchQuery = document.getElementById('searchBar').value.toLowerCase();
        const rows = document.querySelectorAll('.sector-row');
        
        rows.forEach(row => {
            const symbol = row.querySelector('td').innerText.toLowerCase();
            if (symbol.includes(searchQuery)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    }

    function openModalSector(symbol, sectorId) {
        document.getElementById('sectorSymbol').innerText = `Do you want to add the sector: ${symbol}?`;
        document.getElementById('sectorId').value = sectorId; // Set the sector_id in the hidden input field
        document.getElementById('modal').classList.remove('hidden');
    }

    function closeModalSector() {
        document.getElementById('modal').classList.add('hidden');
    }

    document.getElementById('addSectorForm').addEventListener('submit', function(event) { 
        const sectorId = document.getElementById('sectorId').value;
        const watchlistName = document.getElementById('watchlistSelect').value;

        console.log("Sector ID:", sectorId);
        console.log("Watchlist Name:", watchlistName);

        closeModalSector();
    });

    window.addEventListener('click', function(event) {
        const modal = document.getElementById('modal');
        if (event.target === modal) {
            closeModalSector();
        }
    });

    function sortTable(columnIndex) {
        const table = document.getElementById("sectorsTable");
        const rows = Array.from(table.querySelectorAll("tbody tr"));
        const isNumericColumn = columnIndex > 0;  // Assume dates or sector values are numeric columns

        rows.sort((rowA, rowB) => {
            const cellA = rowA.cells[columnIndex].innerText.trim();
            const cellB = rowB.cells[columnIndex].innerText.trim();

            if (isNumericColumn) {
                return sortDirection
                    ? parseFloat(cellA) - parseFloat(cellB)
                    : parseFloat(cellB) - parseFloat(cellA);
            } else {
                return sortDirection
                    ? cellA.localeCompare(cellB)
                    : cellB.localeCompare(cellA);
            }
        });

        rows.forEach(row => table.querySelector("tbody").appendChild(row));

        sortDirection = !sortDirection;

        const icons = table.querySelectorAll(".fa-sort");
        icons.forEach(icon => icon.classList.replace("fa-sort-up", "fa-sort"));
        const clickedHeader = table.rows[0].cells[columnIndex];
        const sortIcon = clickedHeader.querySelector("i");

        if (sortDirection) {
            sortIcon.classList.replace("fa-sort", "fa-sort-up");
        } else {
            sortIcon.classList.replace("fa-sort", "fa-sort-down");
        }
    }
</script>

{% endblock %}
