<style>
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Wancho&family=Oswald:wght@200..700&display=swap');
  </style>
  

<div class="navbar bg-[#151e28] text-white fixed top-0 left-0 w-full flex items-center justify-between p-2 z-10 h-[65px]">
    <!-- Button to toggle sidebar (leftmost) -->
    {% if show_sidebar_button|default:True %}
    <button 
      id="sidebarToggle" 
      class="flex items-center justify-center w-12 h-12 bg-[#151e28] mr-3 text-white rounded">
      <!-- Menu Icon -->
      <i class="fas fa-bars"></i>
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
    </button>
    {%endif%}
   
  
    <!-- Navbar logo and menu items --> 
    <div class="logo flex items-center ">
        <img src="https://via.placeholder.com/50" alt="Logo" class="h-[30px] w-[30px] mr-2 rounded-full">
        <span class="text-[16px] font-bold">Stock Guard</span>
    </div>
    <div class="menu ml-auto flex gap-5 ">
        <a href="/" class="text-white text-[14px] font-bold hover:text-[#f4f4f9]">Home</a>
        <a href="/list/" class="text-white text-[14px] font-bold hover:text-[#f4f4f9]">Blogs</a>
        <a href="/about" class="text-white text-[14px] font-bold hover:text-[#f4f4f9]">About</a>
        <a href="user/login" class="text-white text-[14px] font-bold hover:text-[#f4f4f9]">Login</a>
        <a href="user/signup" class="text-white text-[14px] font-bold hover:text-[#f4f4f9]">Sign Up</a>
    </div>
  </div>
  