<!-- Add this in your <head> section -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

  <!-- sidebar.html -->
  <div 
    id="sidebar" 
    class="fixed top-16 left-0 h-full w-[190px] bg-gradient-to-r from-blue-600 to-purple-600 mb-6 text-white transform -translate-x-full transition-transform duration-300">
    <ul class="p-4 space-y-6">
      <li class="flex items-center space-x-3">
        <i class="fas fa-tachometer-alt w-5 h-5"></i>
        <a href="/dashboard_new" class="font-bold hover:text-gray-400">Dashboard</a>
      </li>
      <li class="flex items-center space-x-3">
        <i class="fas fa-chart-line w-5 h-5"></i>
        <a href="/stock" class="font-bold hover:text-gray-400">Stock</a>
      </li>
      <li class="flex items-center space-x-5">
        <i class="fas fa-industry w-5 h-5"></i>
        <a href="/sectors" class="font-bold hover:text-gray-400">Sector</a>
      </li>
      <li class="flex items-center space-x-5">
        <i class="fas fa-clock w-5 h-5"></i>
        <a href="#" class="font-bold hover:text-gray-400">Alerts</a>
      </li>
      <li class="flex items-center space-x-3">
        <i class="fas fa-list w-5 h-5"></i>
        <a href="/watchlist" class="font-bold hover:text-gray-400">Watchlist</a>
      </li>
      <li class="flex items-center space-x-3">
        <i class="fas fa-briefcase w-5 h-5"></i>
        <a href="/portfolio" class="font-bold hover:text-gray-400">Portfolio</a>
      </li>
      <li class="flex items-center space-x-3">
        <i class="fas fa-cog w-5 h-5"></i>
        <a href="/settings" class="font-bold hover:text-gray-400">Settings</a>
      </li>
      <li class="flex items-center space-x-3">
        <i class="fas fa-sign-out-alt w-5 h-5"></i>
        <a href="logout.html" class="font-bold hover:text-gray-400">Logout</a>
      </li>
    </ul>
  </div>
  