{% extends 'stocks/portfolio/base.html' %}

{% block title %}Custom Portfolio{% endblock %}

{% block content %}
    <header class="text-center my-8">
        <h1 class="text-3xl font-bold text-gray-800">{{ username }}'s Portfolio</h1>
    </header>

    {% if msg %}
    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded mb-6" role="alert">
        <p>{{ msg }}</p>
    </div>
    {% endif %}

    <section class="mb-10">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-2xl font-semibold text-gray-700">Portfolio Summary</h2>
            <div>
                <button 
                    id="open-modal-btn" 
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Add Stock to Portfolio
                </button>
                <button 
                    id="open-sell-modal-btn" 
                    class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Sell Stocks
                </button>            
            </div>
        </div>

        <p class="mt-4 text-gray-700 font-semibold text-right text-lg">Total Invested Capital: {{ total_invested_capital }}</p>

        <table class="min-w-full bg-white shadow-md rounded-lg">
            <thead>
                <tr class="bg-gray-800 text-white text-sm leading-normal">
                    <th class="py-3 px-6 text-left">Stock</th>
                    <th class="py-3 px-6 text-left">Last Purchased Date</th>
                    <th class="py-3 px-6 text-left">Quantity</th>
                    <th class="py-3 px-6 text-left">Average Purchase Price</th>
                    <th class="py-3 px-6 text-left">Total Value</th>
                    <th class="py-3 text-center text-red-500"></th>
                </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">
                {% for item in portfolio_data %}
                <tr class="border-b border-gray-200 hover:bg-gray-100 relative">
                    <td class="py-3 px-6">{{ item.stock.name }}</td>
                    <td class="py-3 px-6">{{ item.last_purchased_date }}</td>
                    <td class="py-3 px-6">{{ item.quantity }}</td>
                    <td class="py-3 px-6">{{ item.average_purchase_price }}</td>
                    <td class="py-3 px-6">{{ item.total_value }}</td>
                    <td class="py-3 text-center absolute right-0 top-1/2 transform -translate-y-1/2 mr-4">
                        <button class="text-red-500 delete-btn" data-id="{{ item.stock.id }}" data-name="{{ item.stock.name }}" data-record="portfolio">
                            <i class="fa fa-trash-can"></i>
                        </button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="py-3 px-6 text-center text-gray-500">No portfolio data available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section>
        <h2 class="text-2xl font-semibold text-gray-700 mb-4">Sell Transactions</h2>
        <table class="min-w-full bg-white shadow-md rounded-lg">
            <thead>
                <tr class="bg-gray-800 text-white text-sm leading-normal">
                    <th class="py-3 px-6 text-left">Stock</th>
                    <th class="py-3 px-6 text-left">Quantity</th>
                    <th class="py-3 px-6 text-left">Total Price</th>
                    <th class="py-3 px-6 text-left">Sell Date</th>
                    <th class="py-3 pl-6 text-left">Profit/Loss</th>
                    <th class="py-3 text-center text-red-500"></th>
                </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">
                {% for item in sell_data %}
                <tr class="border-b border-gray-200 hover:bg-gray-100 relative"> <!-- Added relative positioning -->
                    <td class="py-3 px-6">{{ item.stock.name }}</td>
                    <td class="py-3 px-6">{{ item.quantity }}</td>
                    <td class="py-3 px-6">{{ item.total_price }}</td>
                    <td class="py-3 px-6">{{ item.last_sell_date }}</td>
                    <td class="py-3 pl-6">
                        {% if item.is_profit %}
                        <span class="text-green-500 font-bold">Profit: {{ item.profit_or_loss }}</span>
                        {% else %}
                        <span class="text-red-500 font-bold">Loss: {{ item.profit_or_loss }}</span>
                        {% endif %}
                    </td>
                    <td class="py-3 text-center absolute right-0 top-1/2 transform -translate-y-1/2 mr-4">
                        <button class="text-red-500 delete-btn" data-id="{{ item.stock.id }}" data-name="{{ item.stock.name }}" data-record="sell">
                            <i class="fa fa-trash-can"></i>
                        </button>
                    </td>                    
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="py-3 px-6 text-center text-gray-500">No sell transactions recorded.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    

        <!-- Modal -->
        <div 
            id="add-stock-modal" 
            class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
            <div class="bg-white w-full max-w-lg p-8 rounded-lg shadow-lg">
                <h3 class="text-xl font-semibold mb-6">Add Stock to Portfolio</h3>
                <form method="POST" action="{% url 'custom_portfolio' %}" class="space-y-4" id="add-form">
                    {% csrf_token %}
                    <input type="hidden" name="add_stocks" value="1">
                    <input type="hidden" name="stock_id" id="stock_id">
                
                    <div class="relative">
                        <label for="stock-search" class="block text-gray-700 text-sm font-bold mb-2">Stock:</label>
                        <input 
                            type="text" 
                            id="stock-search" 
                            class="w-full px-3 py-2 border rounded mb-2" 
                            placeholder="Search for stock..."
                            autocomplete="off"
                            required
                        >
                        <div 
                            id="stock-dropdown" 
                            class="absolute w-full bg-white border rounded mt-1 hidden z-10 shadow-lg max-h-60 overflow-auto">
                            <ul id="stock-list" class="list-none p-0 m-0">
                                {% for stock in stocks %}
                                <li class="py-2 px-3 cursor-pointer hover:bg-gray-200" data-id="{{ stock.id }}" data-name="{{ stock.name }}">
                                    {{ stock.name }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                
                    <div>
                        <label for="last_purchased_date" class="block text-gray-700 text-sm font-bold mb-2">Purchase Date:</label>
                        <input type="date" name="last_purchased_date" id="last_purchased_date" required class="w-full px-3 py-2 border rounded">
                    </div>
                
                    <div>
                        <label for="quantity" class="block text-gray-700 text-sm font-bold mb-2">Quantity:</label>
                        <input type="number" name="quantity" id="quantity" min="1" required class="w-full px-3 py-2 border rounded">
                    </div>
                
                    <div>
                        <label for="price_per_share" class="block text-gray-700 text-sm font-bold mb-2">Average Purchase Price:</label>
                        <input type="number" name="price_per_share" id="price_per_share" step="0.01" required class="w-full px-3 py-2 border rounded">
                    </div>
                
                    <div class="flex justify-end space-x-4">
                        <button 
                            type="button" 
                            id="cancel-modal-btn" 
                            class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">
                            Cancel
                        </button>
                        <button 
                            type="submit" 
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
        <div id="sell-stock-modal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
            <div class="bg-white w-full max-w-lg p-8 rounded-lg shadow-lg">
                <h3 class="text-xl font-semibold mb-6">Sell Stock</h3>
                <form method="POST" action="{% url 'custom_portfolio' %}" class="space-y-4" id="sell-form">
                    {% csrf_token %}
                    <input type="hidden" name="sell_stocks" value="1">
                    <input type="hidden" name="stock_id" id="sell_stock_id">
        
                    <!-- Stock Search -->
                    <div class="relative">
                        <label for="stock-sell-search" class="block text-gray-700 text-sm font-bold mb-2">Stock:</label>
                        <input 
                            type="text" 
                            id="stock-sell-search" 
                            class="w-full px-3 py-2 border rounded mb-2" 
                            placeholder="Search for stock..."
                            autocomplete="off"
                            required
                        >
                        <div 
                            id="stock-sell-dropdown" 
                            class="absolute w-full bg-white border rounded mt-1 hidden z-10 shadow-lg max-h-60 overflow-auto">
                            <ul id="stock-sell-list" class="list-none p-0 m-0">
                                {% for item in portfolio_data %}
                                <li class="py-2 px-3 cursor-pointer hover:bg-gray-200" data-id="{{ item.stock.id }}" data-name="{{ item.stock.name }}" data-quantity="{{ item.quantity }}" data-last-purchased-date="{{item.last_purchased_date}}">
                                    {{ item.stock.name }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
        
                    <!-- Sell Date -->
                    <div>
                        <label for="last_sell_date" class="block text-gray-700 text-sm font-bold mb-2">Sell Date:</label>
                        <input type="date" name="last_sell_date" id="last_sell_date" required class="w-full px-3 py-2 border rounded">
                    </div>
        
                    <!-- Quantity -->
                    <div>
                        <label for="quantity" class="block text-gray-700 text-sm font-bold mb-2">Quantity:</label>
                        <input type="number" name="quantity" id="sell-quantity" min="1" required class="w-full px-3 py-2 border rounded">
                    </div>
        
                    <!-- Price per Share -->
                    <div>
                        <label for="price_per_share" class="block text-gray-700 text-sm font-bold mb-2">Average Sell Price:</label>
                        <input type="number" name="price_per_share" id="price_per_share" step="0.01" required class="w-full px-3 py-2 border rounded">
                    </div>
        
                    <!-- Action Buttons -->
                    <div class="flex justify-end space-x-4">
                        <button 
                            type="button" 
                            id="cancel-sell-modal-btn" 
                            class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">
                            Cancel
                        </button>
                        <button 
                            type="submit" 
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
         <!-- Deletion Confirmation Modal -->
    <div id="delete-modal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white w-full max-w-lg p-8 rounded-lg shadow-lg">
            <h3 class="text-xl font-semibold mb-6">Confirm Deletion</h3>
            <p id="delete-msg" class="text-lg">Are you sure you want to delete this record?</p>
            <form method="POST" action="{% url 'custom_portfolio' %}" class="space-y-4" id="delete-form">
                {% csrf_token %}
                <input type="hidden" name="delete_record" value="1">
                <input type="hidden" name="record_type" id="delete-record-type">
                <input type="hidden" name="stock_id" id="delete-stock-id">
                
                <div class="flex justify-end space-x-4">
                    <button type="button" id="cancel-delete-btn" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">
                        Cancel
                    </button>
                    <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                        Delete
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const deleteBtns = document.querySelectorAll('.delete-btn');
            console.log(deleteBtns); // Debugging line
        
            deleteBtns.forEach(button => {
                console.log("Adding event listener to button:", button); // Debugging line
                button.addEventListener('click', function () {
                    console.log("Delete button clicked!"); // Debugging line
                    const stockId = this.getAttribute('data-id');
                    const stockName = this.getAttribute('data-name');
                    const recordType = this.getAttribute('data-record');
                    
                    console.log("Stock ID:", stockId); // Debugging line
                    console.log("Stock Name:", stockName); // Debugging line
                    console.log("Record Type:", recordType); // Debugging line
        
                    deleteStockIdInput.value = stockId;
                    deleteRecordTypeInput.value = recordType;
        
                    // Update modal message dynamically
                    deleteMsg.textContent = `Are you sure you want to delete the stock "${stockName}" from your ${recordType === 'portfolio' ? 'Portfolio' : 'Sell Transactions'}?`;
        
                    // Display modal
                    deleteModal.classList.remove('hidden');
                    console.log("Modal is now visible."); // Debugging line
                });
            });
        
            const cancelDeleteBtn = document.getElementById('cancel-delete-btn');
            cancelDeleteBtn.addEventListener('click', () => {
                console.log("Cancel button clicked. Hiding modal."); // Debugging line
                deleteModal.classList.add('hidden');
            });
        
            const deleteForm = document.getElementById('delete-form');
            deleteForm.addEventListener('submit', function(event) {
                console.log("Form submitted."); // Debugging line
            });
        });
        


        // Modal and delete button logic
        const deleteBtns = document.querySelectorAll('.delete-btn');
        const deleteModal = document.getElementById('delete-modal');
        const cancelDeleteBtn = document.getElementById('cancel-delete-btn');
        const deleteForm = document.getElementById('delete-form');
        const deleteMsg = document.getElementById('delete-msg');
        const deleteStockIdInput = document.getElementById('delete-stock-id');
        const deleteRecordTypeInput = document.getElementById('delete-record-type');

        deleteBtns.forEach(button => {
            button.addEventListener('click', function () {
                const stockId = this.getAttribute('data-id');
                const stockName = this.getAttribute('data-name');
                const recordType = this.getAttribute('data-record');

                deleteStockIdInput.value = stockId;
                deleteRecordTypeInput.value = recordType;

                deleteMsg.textContent = `Are you sure you want to delete the stock "${stockName}" from your ${recordType === 'portfolio' ? 'Portfolio' : 'Sell Transactions'}?`;
                deleteModal.classList.remove('hidden');
            });
        });

        cancelDeleteBtn.addEventListener('click', () => {
            deleteModal.classList.add('hidden');
        });

        // Submit delete form when confirmed
        deleteForm.addEventListener('submit', function(event) {
            // You can add any additional confirmation logic here if needed
        });
    </script>

        <script>
            // Modal toggle for selling a stock
            const openSellModalBtn = document.getElementById('open-sell-modal-btn');
            const sellStockModal = document.getElementById('sell-stock-modal');
            const cancelSellModalBtn = document.getElementById('cancel-sell-modal-btn');
        
            openSellModalBtn.addEventListener('click', (e) => {
                console.log(e.target.tagName)
                sellStockModal.classList.remove('hidden');
            });                        

            cancelSellModalBtn.addEventListener('click', () => {
                sellStockModal.classList.add('hidden');
            });

             // Form submission check for stock selection
            document.querySelector('#sell-form').addEventListener('submit', function(event) {
                const stockIdSellInput = document.getElementById('sell_stock_id');
                if (!stockIdSellInput.value) {
                    event.preventDefault();
                    alert('Please select a valid stock from the dropdown.');
                }
            });

            // Generalize the search functionality for both adding and selling stocks
            function handleStockSearch(input, dropdown, stockList, stockIdInput) {
                input.addEventListener('input', function() {
                    const filter = input.value.toUpperCase();
                    const items = stockList.getElementsByTagName('li');
                    let found = false;

                    if (filter.length > 0) {
                        dropdown.classList.remove('hidden');
                    } else {
                        dropdown.classList.add('hidden');
                    }

                    for (let i = 0; i < items.length; i++) {
                        const txtValue = items[i].textContent || items[i].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            items[i].style.display = ""; // Show matched option
                            found = true;
                        } else {
                            items[i].style.display = "none"; // Hide non-matching option
                        }
                    }

                    // Show "No results found" if no matching items
                    const noResultOption = stockList.querySelector('li.cursor-not-allowed');
                    if (!found && filter.length > 0) {
                        if (!noResultOption) {
                            const noResult = document.createElement('li');
                            noResult.classList.add('py-2', 'px-3', 'text-gray-500', 'cursor-not-allowed');
                            noResult.textContent = "No results found";
                            stockList.appendChild(noResult);
                        }
                    } else {
                        if (noResultOption) {
                            stockList.removeChild(noResultOption);
                        }
                    }
                });

                // Handle stock selection from the dropdown
                stockList.addEventListener('click', function(event) {
                    if (event.target.tagName === 'LI') {
                        const stockId = event.target.getAttribute('data-id');
                        const stockName = event.target.getAttribute('data-name');
                        input.value = stockName;
                        stockIdInput.value = stockId;
                        dropdown.classList.add('hidden');
                    }
                });

                // Close the dropdown when clicking outside of it
                document.addEventListener('click', function(event) {
                    if (!dropdown.contains(event.target) && event.target !== input) {
                        dropdown.classList.add('hidden');
                    }
                });
            }

            // Initialize both stock and sell stock search

            handleStockSearch(document.getElementById('stock-search'), document.getElementById('stock-dropdown'), document.getElementById('stock-list'), document.getElementById('stock_id'));

            const stockSellList = document.getElementById('stock-sell-list');
            handleStockSearch(document.getElementById('stock-sell-search'), document.getElementById('stock-sell-dropdown'), stockSellList, document.getElementById('sell_stock_id'));
            stockSellList.addEventListener('click', function(event) {
                if (event.target.tagName === 'LI') {
                    const stockId = event.target.getAttribute('data-id');
                    const stockName = event.target.getAttribute('data-name');
                    const stockQuantity = event.target.getAttribute('data-quantity'); // Get quantity
            
                    // Populate the input fields with the selected stock's data
                    document.getElementById('stock-sell-search').value = stockName;
                    document.getElementById('sell_stock_id').value = stockId;
                    document.getElementById('sell-quantity').value = stockQuantity; // Set quantity automatically

                    // Set the max value for the quantity input to the available stock quantity
                    document.getElementById('sell-quantity').setAttribute('max', stockQuantity);

                    document.getElementById('stock-sell-dropdown').classList.add('hidden'); // Close the dropdown

                }
            });
            
            // Handle modal toggle for adding a stock
            const openModalBtn = document.getElementById('open-modal-btn');
            const addStockModal = document.getElementById('add-stock-modal');
            const cancelModalBtn = document.getElementById('cancel-modal-btn');

            openModalBtn.addEventListener('click', () => {
                addStockModal.classList.remove('hidden');
            });

            cancelModalBtn.addEventListener('click', () => {
                addStockModal.classList.add('hidden');
            });

            // Form submission check for stock selection
            document.querySelector('#add-form').addEventListener('submit', function(event) {
                const stockIdInput = document.getElementById('stock_id');
                if (!stockIdInput.value) {
                    event.preventDefault();
                    alert('Please select a valid stock from the dropdown.');
                }
            });
</script>        
{% endblock %}
